/* CSS Document */
/* latin */
@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/skranji-bold.ttf') format('truetype'),
  url('fonts/OZpGg_dtriVFNerMW4eBhlvHwQ.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/CarterOne.ttf') format('truetype'),
  url('fonts/q5uCsoe5IOB2-pXv9UcNExN8hA.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/AveriaSansLibre-LightItalic.ttf') format('truetype'),
  url('fonts/ga6caxZG_G5OvCf_rt7FH3B6BHLMEdVLKisSH5DdKg.woff2') format('woff2');
}

body {
   padding: 0;
   margin: 0;
}
.master-container::-webkit-scrollbar{
   width: 9px;
   height: 100%;
}
.master-container::-webkit-scrollbar-track {
   background: transparent url('../img/zz_base.png') no-repeat; 
}
.master-container::-webkit-scrollbar-thumb {
   background: transparent url('../img/zz_thumb.png') no-repeat;
   background-size: 100% 100%;
}
.large-container {
	top: 10vh !important;
}
#indexbody {
	position: fixed;
	height: 100%; 
	width: 100%; 
	background-image:url(../img/bg.jpg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat; 
	overflow: hidden !important;
}
/* Disabilita copia incolla e seleziona da iOS */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* rimuovi rettangolo grigio on touch su iOS */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Abilita copia incolla e seleziona da iOS solo input */
input
{
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
#game {
	width: 800px;
	height: 800px;
	background-image:url(../img/map.jpg); 
}
#logo {
	width: 100%;
}
#logo img {
	display: block;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}
.none {
	display: none;
}
.button {
    position: relative;
    text-align: center;
	font-family: 'Carter One', cursive; 
	color: white;	
	/*font-size: 32px;*/
}
#playbtn {
	width: 50%; 
	left: 50%; 
	-webkit-transform: translate(-50%);
}
#settings {
	position:absolute; 
	bottom: 5%; 
	left: 5%; 
	width: 100%;
}
.pre-inner {
	width: 15%;
    height: 90vh;
    bottom: 30%;
    overflow: hidden;
    position: absolute;
}
.settings_inner {
	position: absolute;
    width: 100%;
    height: 90vh;
    bottom: 0;
	z-index: 0;
}
.slide-up {
	animation: slide-up 0.5s;
	-webkit-animation: slide-up 0.5s;
}
.slide-down {
	animation: slide-down 0.9s;
	-webkit-animation: slide-down 0.9s;
}
@keyframes slide-up {
	from {
		bottom: -40vh;
	} to {
		bottom: 0;
	}
}
@-webkit-keyframes slide-up {
	from {
		bottom: -40vh;
	} to {
		bottom: 0;
	}
}
@keyframes slide-down {
	from {
		bottom: 0;
	} to {
		bottom: -40vh;
	}
}
@-webkit-keyframes slide-down {
	from {
		bottom: 0;
	} to {
		bottom: -40vh;
	}
}
.options {
	position: relative; 
	width: 72%; 
	display: block;
	left: 14%;
	margin-bottom: 20%;
	top: 56vh;
}
.option_info {
	position: fixed;
	background-image: url(../img/panel/panel_info.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	width: 75%;
	height: 30%;
	text-align: center;
	z-index: 9;
}
.warning_info {
	position: fixed;
	background-image: url(../img/panel/panel_info.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	width: 75%;
	height: 30%;
	text-align: center;
	z-index: 8;
}
.panel_info {
	position: fixed;
	background-image: url(../img/panel/panel.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	width: 75%;
	height: 55%;
	text-align: center;
	z-index: 9;
}
.option_info span {
	z-index: 9;
	font-family: 'Carter One', cursive !important; 
	color: white;	
	position: absolute;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	width: 90%;
}
.warning_info span {
	z-index: 9;
	font-family: 'Carter One', cursive !important; 
	color: white;	
	position: absolute;
	left: 50%;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	width: 90%;
}
.panel_info span {
	z-index: 9;
	font-family: 'Carter One', cursive !important; 
	color: white;	
	position: absolute;
	left: 50%;
	top: 20%;
	-webkit-transform: translate(-50%, -50%);
	width: 90%;
}
#ingranaggio {
	position: relative; 
	width: 15%; 
	bottom: 0;
	-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.rotateOn{
	-webkit-transform: rotate(90deg)!important;
    -moz-transform: rotate(90deg)!important;
    -ms-transform: rotate(90deg)!important;
    transform: rotate(90deg)!important;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.green {
	text-shadow: 3px 0 0 #157506, -3px 0 0 #157506, 0 3px 0 #157506, 0 -3px 0 #157506, 2px 2px #157506, -2px -2px 0 #157506, 2px -2px 0 #157506, -2px 2px 0 #157506;
}
.green-soft {
	text-shadow: 2px 2px #157506, -2px -2px 0 #157506, 2px -2px 0 #157506, -2px 2px 0 #157506;
}
.brown {
	text-shadow: 3px 0 0 #442204, -3px 0 0 #442204, 0 3px 0 #442204, 0 -3px 0 #442204, 2px 2px #442204, -2px -2px 0 #442204, 2px -2px 0 #442204, -2px 2px 0 #442204;
}
.brown-soft {
	text-shadow: 2px 2px #442204, -2px -2px 0 #442204, 2px -2px 0 #442204, -2px 2px 0 #442204;
}
.grey {
	text-shadow: 3px 0 0 #8b8b8b, -3px 0 0 #8b8b8b, 0 3px 0 #8b8b8b, 0 -3px 0 #8b8b8b, 2px 2px #8b8b8b, -2px -2px 0 #8b8b8b, 2px -2px 0 #8b8b8b, -2px 2px 0 #8b8b8b;
}
.grey-soft {
	text-shadow: 2px 2px #8b8b8b, -2px -2px 0 #8b8b8b, 2px -2px 0 #8b8b8b, -2px 2px 0 #8b8b8b;
}
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
.top-left-bar {
    position: absolute;
    left: 2%;
    top: 4%;
	width: 100%;
}
.top-right-bar {
    position: absolute;
    right: 2%;
    top: 11%;
	width: 100%;
}
.right-icon {
	position: relative; 
	display: block; 
	width: 100%; 
	right: 15%; 
	margin-bottom: 10%;
	animation: slide-in 1.5s;
	-webkit-animation: slide-in 1.5s;
}
@keyframes slide-in {
	from {
		top: 100vh;
	} to {
		top: 0;
	}
}
@-webkit-keyframes slide-in {
	from {
		top: 100vh;
	} to {
		top: 0;
	}
}
.empty { 
    width: 100%;
}
.moneybar {
	position: fixed;
    text-align: center;
	font-family: 'Skranji', cursive !important; 
	color: white;	
	/*font-size: 24px;*/
	width: 50%;
}
.moneyscore {
    position: absolute;
    top: 70%;
    right: 2%;
    -webkit-transform: translate(-50%, -50%);
}
.gemsbar {
	position: fixed;
    text-align: center;
	font-family: 'Skranji', cursive !important; 
	color: white;	
	width: 40%;
	right: 0;
}
.gems {
	position: absolute;
    top: 87%;
    right: 5%;
    -webkit-transform: translate(-50%, -50%);
}
#plusgems {
	position: fixed;
	font-family: 'Skranji', cursive !important; 
	color: white;	
	width: 45%;
	height: 10%;
	top: 5%;
	right: 0;
}
#plusgems p {
	position:absolute;
	top: 5%;
	right: 20%;
}
#pluscoins {
	position: fixed;
	font-family: 'Skranji', cursive !important; 
	color: white;	
	width: 45%;
	height: 10%;
	top: 5%;
	left: 0;
}
#pluscoins p {
	position:absolute;
	top: 5%;
	left: 20%;
}
.alloggi {
	position: absolute;
	top: 315px;
	left: 520px;
	width: 270px;
	height: 270px;
}
.fabbrica {
	position: absolute;
	top: 150px;
	left: 260px;
	width: 270px;
	height: 270px;
}
.vehicle {
	position: absolute;
	top: 360px;
	left: 50px;
	width: 200px;
}
.panel {
	width: 85%;
	height: 73%;
	position: fixed;
	top: 57%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	background-image:url(../img/panel/panel.png); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 9;
	text-align: center;
}
.panel .ribbon {
	position: relative;
	width: 85%;
	height: 15%;
}
.panel .container {
	background-image:url(../img/panel/container.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	top: 10%;
	width: 82.65%;
	height: 18%;
	margin-bottom: 3%;
}
.panel .container-empty {
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	top: 10%;
	width: 82.65%;
	height: 18%;
	margin-bottom: 3%;
}
.panel .container-empty .title{
	position: absolute;
	font-family: 'Carter One', cursive; 
	color: white;	
	left: 50%;
	-webkit-transform: translate(-50%);
	height: 25%;
}
.panel .container .title {
	position: relative;
    text-align: left;
	font-family: 'Carter One', cursive; 
	color: white;	
	left: 22%;
	margin-top: 5%;
	width: 31%;
	height: 30%;
}
.panel .container .desc {
	position: relative;
	margin-top: 3%;
    text-align: left;
	font-family: 'Averia Sans Libre', cursive; 
	color: #3a230a;	
	left: 22%;
	width: 41%;
	height: 13%;
	line-height: 75%;
}
.panel .skills {
	position: fixed;
	width: 31%;
	height: 15%;
	top: 75%;
	left: 22%;
}
.panel .upgrade {
	bottom: 4%;
	left: 50%;
	-webkit-transform: translate(-50%);
	position: absolute;
	width: 100%;
}
.panel .btn-upgrade {
	top: 55%;
	left: 52%;
	width: 100%;
}
.panel .container .btn-buy {
	position: fixed;
    width: 30%; /*26.82%;*/
    height: 36%;
    top: 45%;
    right: 4%;
    background-image: url('../img/panel/btn_buy.png');
    background-size: 100% 100%;
}
.panel .container .btn-buy2 {
	position: fixed;
    width: 30%; /*26.82%;*/
    height: 36%;
    top: 45%;
    right: 4%;
    background-image: url('../img/panel/btn_buy2.png');
    background-size: 100% 100%;
}
.panel .btn-cost {
	width: 90%;
	left: 65%;
}
.panel-close {
    width: 11%;
    position: absolute;
    right: -3%;
    top: 5%;
}
.icon {
	position: absolute;
    left: -5%;
	top: 12%;
    height: 75%;
}
#factorylevelup {
	position: absolute;
	top: 130px;
	left: 300px;
}
#alloggilevelup {
	position: absolute;
	top: 300px;
	left: 600px;
}
#vehiclelevelup {
	position: absolute;
	top: 320px;
	left: 50px;
}
.decline {
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 20%;
}
.accept {
	position: absolute;
	bottom: 0;
	right: 20%;
	width: 20%;
}
.story-font {
	font-family: 'Carter One', cursive !important; 
	color: white;	
}
@media only screen and (min-height: 800px) {
    #game {
	   width: 1600px;
	   height: 1600px;    
	   background-size:cover;
    }
	#factorylevelup {
	   top: 260px;
	   left: 600px;
    }
	#alloggilevelup {
	   top: 600px;
	   left: 1200px;
    }
	.alloggi {
	   top: 630px;
	   left: 1040px;
	   width: 540px;
	   height: 540px;
    }
	.fabbrica {
	   position: absolute;
	   top: 300px;
	   left: 520px;
	   width: 540px;
	   height: 540px;
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	.green-soft {
		text-shadow: none;
	}
	.grey-soft {
		text-shadow: none;
	}
}