/* CSS Document */
html,body {
   height: 100%;
   margin: 0;
   overflow: hidden;
}
#logo {
	width: 100%;
}
#logo img {
	display: block;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}
.button {
    position: relative;
    text-align: center;
	font-family: 'Carter One', cursive; 
	color: white;	
	font-size: 32px;
}
.green {
	text-shadow: 3px 0 0 #157506, -3px 0 0 #157506, 0 3px 0 #157506, 0 -3px 0 #157506, 2px 2px #157506, -2px -2px 0 #157506, 2px -2px 0 #157506, -2px 2px 0 #157506;
}
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}