/* CSS Document */
/* latin */
@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/skranji-bold.ttf') format('truetype'),
  url('fonts/OZpGg_dtriVFNerMW4eBhlvHwQ.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/CarterOne.ttf') format('truetype'),
  url('fonts/q5uCsoe5IOB2-pXv9UcNExN8hA.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Averia Sans Libre';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/ga6caxZG_G5OvCf_rt7FH3B6BHLMEdVLKisSH5DdKg.woff2') format('woff2');
}

html,body {
   padding: 0;
   margin: 0;
}
#game {
	width: 800px;
	height: 800px;
	background-image:url(../img/test.jpg); 
	background-repeat: no-repeat;
}
@media only screen and (min-height: 800px) {
    #game {
        width: 100%;
	height: 100%;
	background-size:cover;
    }
}
#logo {
	width: 100%;
}
#logo img {
	display: block;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}
.none {
	display: none;
}
.button {
    position: relative;
    text-align: center;
	font-family: 'Carter One', cursive; 
	color: white;	
	font-size: 32px;
}
.green {
	text-shadow: 3px 0 0 #157506, -3px 0 0 #157506, 0 3px 0 #157506, 0 -3px 0 #157506, 2px 2px #157506, -2px -2px 0 #157506, 2px -2px 0 #157506, -2px 2px 0 #157506;
}
.brown {
	text-shadow: 3px 0 0 #442204, -3px 0 0 #442204, 0 3px 0 #442204, 0 -3px 0 #442204, 2px 2px #442204, -2px -2px 0 #442204, 2px -2px 0 #442204, -2px 2px 0 #442204;
}
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
.top-left-bar {
    position: absolute;
    left: 2%;
    top: 2%;
	width: 100%;
}
.empty { 
    width: 100%;
}
.moneybar {
	position: fixed;
    text-align: center;
	font-family: 'Skranji', cursive !important; 
	color: white;	
	/*font-size: 24px;*/
	width: 50%;
}
.moneyscore {
    position: absolute;
    top: 70%;
    right: 2%;
    -webkit-transform: translate(-50%, -50%);
}
